.dashboard {
  display: flex;
  width: 100%;

  &-sidebar {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
  }

  &-content {
    flex: 1;
    height: 100vh;
    width: 100%;
    min-width: 0;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard {
    &-sidebar {
      flex: 0 0 180px;
      max-width: 180px;
      min-width: 180px;
    }
  }
}

@media screen and (max-width: 992px) {
  .dashboard {
    &-sidebar {
      flex: 0 0 150px;
      max-width: 150px;
      min-width: 150px;
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;

    &-sidebar {
      flex: 0 0 auto;
      max-width: 100%;
      min-width: 100%;
      height: auto;
    }
  }
}
