.profile-wrapper {
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  overflow: scroll;
  padding: 0 20px;

  &-container {
    display: grid;
    grid-template-areas:
      "header"
      "content";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .profile-header {
      grid-area: header;
    }

    .profile-content {
      grid-area: content;

      .imageGrid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        margin-bottom: 100px;
        background-color: var(--white-1);
        padding: 24px;
        border-radius: 16px;
        box-shadow: rgb(145 158 171 / 20%) 0 0 2px 0, rgb(145 158 171 / 12%) 0 12px 24px -4px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .profile-wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 992px) {
  .profile-wrapper {
    padding: 0 10px;

    &-container {
      .profile-content {
        .imageGrid-container {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-wrapper {
    padding: 0 10px;
  }

  .profile-content {
    margin: 0 10px;

    .imageGrid-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
      padding: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  .profile-wrapper {
    padding: 0 5px;

    &-container {
      .profile-content {
        .imageGrid-container {
          grid-template-columns: 1fr;
          gap: 10px;
        }
      }
    }
  }
}
