.private-chat-wrapper {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;

  &-content {
    margin: 20px 0 0;
    display: grid;
    align-self: flex-start;
    justify-self: stretch;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "side message";
    flex-grow: 1;
    background-color: var(--white-1);
    height: 95vh;
    width: 100%;

    &-side {
      grid-area: side;
      border-right: 1px solid var(--white-4);
      padding: 0 10px;
      overflow: hidden;
      min-width: 0;
    }

    &-conversation {
      grid-area: message;
      flex-grow: 1;
      overflow: hidden;
      min-width: 0;

      .no-chat {
        color: var(--black-3);
        font-weight: 700;
        font-size: 18px;
        padding: 20px;
        background-color: var(--white-1);
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .private-chat-wrapper {
    &-content {
      grid-template-columns: 220px 1fr;
    }
  }
}

@media screen and (max-width: 992px) {
  .private-chat-wrapper {
    &-content {
      grid-template-columns: 200px 1fr;

      &-side {
        padding: 0 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .private-chat-wrapper {
    padding-left: 5px;
    padding-right: 5px;

    &-content {
      grid-template-columns: 180px 1fr;
      margin: 10px 0 0;

      &-side {
        padding: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .private-chat-wrapper {
    &-content {
      grid-template-columns: 1fr;
      grid-template-areas: "message";

      &-side {
        display: none;
      }
    }
  }
}
