.chat-window-container {
  display: grid;
  grid:
    "message-header"
    "message-container";

  .chat-title {
    grid-area: message-header;
    display: grid;
    grid-template-columns: 40px max-content;
    height: 50px;
    border-bottom: 1px solid var(--white-4);
    margin-top: 10px;
    padding: 0 15px;

    &-avatar {
      grid-row: span 2;
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }

    &-items {
      display: grid;
      grid-template-areas:
        "name"
        "active";
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
      padding-top: 3px;

      .chat-name {
        grid-area: name;
        font-weight: 700;
        font-size: 15px;
        padding-left: 10px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .user-not-online {
        padding-top: 10px;
      }

      .chat-active {
        grid-area: active;
        padding-left: 10px;
        font-size: 12px;
        color: var(--primary-1);
      }
    }
  }

  .chat-window {
    grid-area: message-container;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 400px;
    max-height: calc(100vh - 150px);
    position: relative;
    background-repeat: no-repeat;

    &-message {
      flex: 1;
      overflow-y: auto;
      padding-bottom: 10px;
    }

    &-input {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      min-height: 60px;
    }
  }
}

app-container {
  top: 49%;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .chat-window-container {
    .chat-window {
      max-height: calc(100vh - 160px);
    }
  }
}

@media screen and (max-width: 992px) {
  .chat-window-container {
    .chat-title {
      height: 45px;
      padding: 0 10px;

      &-items {
        .chat-name {
          font-size: 14px;
        }

        .chat-active {
          font-size: 11px;
        }
      }
    }

    .chat-window {
      max-height: calc(100vh - 165px);
    }
  }
}

@media screen and (max-width: 768px) {
  .chat-window-container {
    .chat-title {
      height: 40px;

      &-avatar {
        height: 35px;
        width: 35px;
      }

      &-items {
        .chat-name {
          font-size: 13px;
        }
      }
    }

    .chat-window {
      max-height: calc(100vh - 170px);
    }
  }
}

@media screen and (max-width: 576px) {
  .chat-window-container {
    .chat-title {
      height: 35px;
      padding: 0 8px;

      &-avatar {
        height: 30px;
        width: 30px;
      }

      &-items {
        .chat-name {
          font-size: 12px;
        }
      }
    }

    .chat-window {
      max-height: calc(100vh - 175px);
      min-height: 300px;
    }
  }
}
